<div class="venta-fecha mat-elevation-z8">
  <div class="section-container">
    <h2>Reporte de ventas por fecha</h2>
    <div class="input-list">
      <mat-form-field>
        <mat-label>Fecha desde</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="inicio" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha hasta</mat-label>
        <input matInput [matDatepicker]="picker2" [formControl]="fin" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <div class="actions">
    <button mat-flat-button (click)="cancel($event)">Cancelar</button>
    <button mat-raised-button color="warn" (click)="borrar()">
      <mat-icon>delete</mat-icon>Borrar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="loadVentas()"
      [disabled]="isDisabled()"
    >
      <mat-icon>description</mat-icon>Generar
    </button>
  </div>
</div>
<ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="data">
</ngx-charts-pie-grid>
