<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="./assets/img/banner/banner1.jpg"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="./assets/img/banner/banner2.jpg"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="./assets/img/banner/banner3.jpg"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="./assets/img/banner/banner4.jpg"
      />
    </div>
  </ng-template>
</owl-carousel-o>
