<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="https://media.gq.com.mx/photos/5f68abaaabe3a852d28d5d51/16:9/w_1920,c_limit/WANDA.jpg"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="https://img1.looper.com/img/gallery/wandavision-episode-5-confirms-what-weve-known-all-along/intro-1612539610.jpg"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="https://cnet2.cbsistatic.com/img/y27vl04ODw32I9GKFGpQ2TeTZ48=/1200x630/2019/08/26/78244de7-c25f-4472-96af-6b0eac71c554/wandavision-d23-art-top-1024x576.jpg"
      />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img
        class="img"
        src="https://lh3.googleusercontent.com/N5UN-_XkjL_7xIRcsYehv9pk_9N5ApahVRK4WtGa4ODXAi5IdGyIsCf-OqW4lqyi4rYPKwSZMmBlDisGj1ML7rrcbDl7LIsa=w960-rj-nu-e365"
      />
    </div>
  </ng-template>
</owl-carousel-o>
