<form [formGroup]="loginForm">
  <div class="container">
    <div class="form-container">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input
          matInput
          placeholder="Type your username"
          formControlName="username"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Type your password"
          formControlName="password"
        />
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="login($event)"
      >
        Login
      </button>
    </div>
  </div>
</form>
