<h2>Nosotros</h2>

<div class="nosotros-item-container">
  <div class="item mat-elevation-z6">
    <img src="./assets/img/company/mision.jpg" />
    <div class="detail">
      Texto sobre mision empresa que alguien tiene que proporcionar
    </div>
  </div>
  <div class="item mat-elevation-z6">
    <img src="./assets/img/company/historia.jpg" />
    <div class="detail">Texto sobre la increible historia de la empresa</div>
  </div>
  <div class="item mat-elevation-z6">
    <img src="./assets/img/company/vision.jpg" />
    <div class="detail">texto sobre la vision de la empresa</div>
  </div>
</div>
