<h2>Nosotros</h2>

<div class="nosotros-item-container">
  <div class="item mat-elevation-z6">
    <img src="./assets/img/company/mision.jpg" />
    <div class="detail">
      Visión: Tener un mundo digital mas consciente de la salud visual.
    </div>
  </div>
  <div class="item mat-elevation-z6">
    <img src="./assets/img/company/historia.jpg" />
    <div class="detail">
      Misión: Brindar salud visual mediante lentes de alta calidad con el filtro de luz
      azul ofreciendo una experiencia única en el servicio pre y post venta.
    </div>
  </div>
  <div class="item mat-elevation-z6">
    <img src="./assets/img/company/vision.jpg" />
    <div class="detail">
      Historia: Moshin eyewear nació el año 2021 debido a la pandemia del covid 19 que
      golpeo al mundo. Al ver que el mundo digital empezó a tomar impacto por la
      pandemia, muchas personas empezaron a utilizar mas los dispositivos
      digitales como teléfonos, laptops, tablets, etc. Estos dispositivos emiten
      una luz azul que es dañina para la vista, ocasionando problemas de salud y
      en la calidad de vida. Para solucionar este problema, la familia Yagui
      decidió emprender y montar un negocio online de venta de lentes con filtro
      de luz azul y otorgando diversos modelos que mejorase la calidad de vida
      de las personas sin sacrificar su estilo.
    </div>
  </div>
</div>
