<div class="row mb-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Reporte de ventas por fecha</h1>
          <button mat-raised-button color="primary" (click)="buscarVentaFecha($event)"><mat-icon>search</mat-icon>Buscar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Reporte de ventas por marca</h1>
          <button mat-raised-button color="primary" (click)="buscarVentaMarca($event)"><mat-icon>search</mat-icon>Buscar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Reporte de ingresos por mes</h1>
          <button mat-raised-button color="primary" (click)="buscarIngresoMes($event)"><mat-icon>search</mat-icon>Buscar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Reporte de venta por canal</h1>
            <button mat-raised-button color="primary" (click)="buscarVentaCanal($event)"><mat-icon>search</mat-icon>Buscar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Reporte de inventario</h1>
          <button mat-raised-button color="primary" (click)="buscarInventario($event)"><mat-icon>search</mat-icon>Buscar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Reporte de clientes</h1>
          <button mat-raised-button color="primary" (click)="buscarCliente($event)"><mat-icon>search</mat-icon>Buscar</button>
        </div>
      </div>
    </div>
  </div>


 