<h1>Editar Producto</h1>

<div class="nuevo-producto mat-elevation-z8">
  <div class="section-container">
    <h2>Datos de producto</h2>
    <div class="input-list">
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Código de Fabrica</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Código Sunat</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option value="1"> Activo </mat-option>
          <mat-option value="2"> Inactivo </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción abreviada</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Marca</mat-label>
        <mat-select>
          <mat-option value="1"> Activo </mat-option>
          <mat-option value="2"> Inactivo </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enlace RRSS 2</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enlace RRSS 1</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section-container">
    <h2>Stock</h2>
    <div class="input-list">
      <mat-form-field>
        <mat-label>Unidad de venta</mat-label>
        <mat-select>
          <mat-option value="1"> Activo </mat-option>
          <mat-option value="2"> Inactivo </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Stock actual</mat-label>
        <input matInput type="number" min="0" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio Actual</mat-label>
        <input matInput type="number" />
        <span matPrefix>S/</span>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="section-container">
    <h2>Imagen</h2>
    <div class="image-control">
      <div class="image-container"></div>
      <button mat-stroked-button color="primary">
        <span class="upload-text">Upload image</span>
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="actions">
    <button mat-flat-button (click)="cancel($event)">Cancelar</button>
    <button mat-raised-button color="warn"><mat-icon>delete</mat-icon>Borrar</button>
    <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Guardar</button>
  </div>
</div>
