.caroussel {
  margin-bottom: 20px;
}
.product-list {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-us {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-us {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
