<mat-card>
  <mat-card-header>
    <mat-card-title class="title">{{ producto.descripcion }}</mat-card-title>
    <mat-card-subtitle>{{ producto.marca }}</mat-card-subtitle>
  </mat-card-header>
  <img class="img-prd" mat-card-image [src]="getUrl()" />
  <mat-card-content>
    <p>
      {{ producto.tipo }}
    </p>
    <p></p>
    <mat-chip-list>
      <mat-chip color="primary" selected>S/ {{ producto.precio }}</mat-chip>
      <mat-chip>Stock {{ producto.stock }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
