<div class="navbar mat-elevation-z8">
  <div class="img-container">
    <img
      class="img"
      src="https://i.pinimg.com/originals/ad/f4/08/adf408a15ace51cc23089f26c6f6e9a0.jpg"
    />
  </div>
  <div class="user-menu">
    <button mat-icon-button>
      <mat-icon class="shopping_cart" [matBadge]="itemQuantity" matBadgeColor="accent"
        >shopping_cart</mat-icon
      >
    </button>

    <button mat-button [matMenuTriggerFor]="menu">
      <div class="user-menu-actions">
        <span>Juan Perez</span>
        <mat-icon>account_circle</mat-icon>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toProfile($event)">
        <span>Update profile</span>
      </button>
      <button mat-menu-item>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
