.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .navbar-left {
    display: flex;
    align-items: center;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    button {
      height: 64px;
    }
  }
  .username {
    margin-right: 8px;
    max-width: 250px;
  }
}
