<mat-drawer-container class="mat-drawer-container">
  <mat-drawer #drawer mode="over">
    <img
      src="./assets/img/logo/logo_marca1.png"
    />
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option routerLink="/home" (click)="drawer.toggle()">
        Inicio</mat-list-option
      >
      <mat-list-option routerLink="/ventas" (click)="drawer.toggle()">
        Ventas</mat-list-option
      >
      <mat-list-option routerLink="/inventario" (click)="drawer.toggle()">
        Inventario
      </mat-list-option>
      <mat-list-option routerLink="/clientes" (click)="drawer.toggle()">
        Clientes
      </mat-list-option>
      <mat-list-option routerLink="/reportes" (click)="drawer.toggle()">
        Reportes
      </mat-list-option>
      <mat-list-option routerLink="/usuario" (click)="drawer.toggle()">
        Usuario
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <div>
    <app-navbar (menuClick)="drawer.toggle()" [userName]="getUserName()" (cerrarSession)="cerrarSession()" [isLoggedIn]="getIsLoggedIn()"></app-navbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>
