<div class="actions">
  <button mat-raised-button color="primary" (click)="nuevaVenta($event)">
    <mat-icon> add_shopping_cart</mat-icon>Nueva Venta
  </button>
  <button
    mat-raised-button
    color="warn"
    [disabled]="!selectedId"
    (click)="anularVenta()"
  >
    <mat-icon> remove_shopping_cart</mat-icon>Anular Venta
  </button>
</div>
<div>Filtrar Ventas:</div>
<form class="filters" [formGroup]="filterGroup">
  <div class="input-list">
    <mat-form-field>
      <mat-label>Nombre cliente</mat-label>
      <input type="text" matInput formControlName="nombreCliente" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Documento</mat-label>
      <input type="text" matInput formControlName="documento" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha desde</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="inicio" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha hasta</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="fin" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option [value]="0"> Anulada </mat-option>
        <mat-option [value]="1"> Ingresada </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Canal</mat-label>
      <mat-select formControlName="canal">
        <mat-option
          *ngFor="let option of canales$ | async"
          [value]="option.codigo"
        >
          {{ option.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<div class="filter-actions">
  <button mat-raised-button color="primary" (click)="search()">
    <mat-icon>search</mat-icon>Filtrar
  </button>
  <button mat-raised-button color="warn" (click)="borrar()">
    <mat-icon>clear</mat-icon>Borrar
  </button>
</div>

<div>Últimas ventas:</div>
<div class="table-wrapper">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 tabla-ventas"
  >
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let element">{{ element.cliente }}</td>
    </ng-container>

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef>Documento</th>
      <td mat-cell *matCellDef="let element">{{ element.documento }}</td>
    </ng-container>

    <ng-container matColumnDef="fventa">
      <th mat-header-cell *matHeaderCellDef>Fecha Venta</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha | date }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.estado === 0 ? "Anulada" : "Ingresada" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="canal">
      <th mat-header-cell *matHeaderCellDef>Canal</th>
      <td mat-cell *matCellDef="let element">{{ element.canal }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="updateSelected(row)"
      [ngClass]="{ 'row-selected': selectedId === row.codigo }"
    ></tr>
  </table>
</div>
<mat-paginator
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
>
</mat-paginator>
