<h1 mat-dialog-title>Agregar producto</h1>
<div mat-dialog-content>
  <div class="control-container">
    <mat-form-field>
      <mat-label>Codigo</mat-label>
      <input
        type="text"
        matInput
        (keypress)="onKeyPressCode($event)"
        [formControl]="codigoControl"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input type="text" matInput [formControl]="descripcionControl" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input
        type="number"
        matInput
        (keypress)="onKeyPress($event)"
        [formControl]="cantidadControl"
      />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial [disabled]="isDisabled()">Agregar</button>
</div>
