<div class="actions">
  <button mat-raised-button color="primary" (click)="nuevoCliente($event)">
    <mat-icon> group_add</mat-icon>
    Nuevo Cliente
  </button>
  <button
    mat-raised-button
    color="accent"
    [disabled]="!selectedId"
    (click)="modificarCliente($event)"
  >
    <mat-icon> supervised_user_circle</mat-icon>Modificar Cliente
  </button>
  <button mat-raised-button color="warn" [disabled]="!selectedId" (click)="delete()">
    <mat-icon> person_remove</mat-icon>Eliminar Cliente
  </button>
</div>
<div>Filtar Clientes:</div>
<div class="filters">
  <div class="input-list">
    <mat-form-field>
      <mat-label>Nombre cliente</mat-label>
      <input type="text" matInput [formControl]="nombre" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Documento</mat-label>
      <input type="text" matInput [formControl]="documento" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select [formControl]="estado">
        <mat-option [value]="0"> Inactivo </mat-option>
        <mat-option [value]="1"> Activo </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-actions">
    <button mat-raised-button color="primary" (click)="search()">
      <mat-icon>search</mat-icon>Filtrar
    </button>
    <button mat-raised-button color="warn" (click)="borrar()">
      <mat-icon>clear</mat-icon>Borrar
    </button>
  </div>
</div>
<div>Ultimas ventas:</div>
<div class="table-wrapper">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 tabla-clientes"
  >
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo de cliente</th>
      <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoría</th>
      <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
    </ng-container>

    <ng-container matColumnDef="canal">
      <th mat-header-cell *matHeaderCellDef>Canal principal</th>
      <td mat-cell *matCellDef="let element">{{ element.canal }}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.estado == 0 ? 'Inactivo': 'Activo'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="updateSelected(row)"
      [ngClass]="{ 'row-selected': selectedId === row.codigo }"
    ></tr>
  </table>
</div>
<mat-paginator
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
>
</mat-paginator>
