<div>
  <button mat-raised-button color="primary">Nuevo Cliente</button>
  <button mat-raised-button color="primary">Modificar Cliente</button>
  <button mat-raised-button color="primary">Eliminar Cliente</button>
</div>
<div>Filtar Clientes:</div>
<div>
  <mat-form-field>
    <mat-label>Nombre cliente</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Documento</mat-label>
    <input type="text" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select>
      <mat-option> Activo </mat-option>
      <mat-option> Inactivo </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary">Filtrar</button>
  <button mat-raised-button color="primary">Borrar</button>
</div>
<div>
  Ultimas ventas:
</div>
