<h2>Productos</h2>
<div class="products">
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
  <app-product class="product"></app-product>
</div>
